<h1>About Us</h1>

<p>Economic Equipment Locators is family-operated small business founded by two brothers: 

Amando and Mario in 2011, later one more brother, Alfredo, joined the small

business venture.   Each have more than 25 years of experience in the restaurant business 

within 5-star hotels and resorts, fine dining restaurants and small mom-and-pop restaurant 

enterprises with varying cuisines from around the world.  Each started at entry-level positions as 

dishwashers eventually working their way up to top Chefs in the food industry. </p>

<p>Amando Solorio experimented in the fine dining world as a Chef for more than 

25 years in California, Ohio, and Arizona. He worked at Marriott Corporation, Sanctuary on 
Camelback
, and Compass Group. </p>

<p>Mario Solorio, worked in several fine dining restaurants as a Chef for more than 

25 years in several states in the Southwest: Arizona, California, and Nevada.  Mario also 

worked with Banner hospitals in Arizona producing thousands of meals daily as their former 

Corporate Chef before founding EEL. </p>

<p>Alfredo Solorio has worked in fine dining locations and small restaurants for 

over 25 years before joining EEL with his three brothers. He’s worked in various resorts like 

Marriott Corporation and Embassy Suites serving thousands of guests.</p>

<p>These four brothers know the great investment it takes to have the right commercial kitchen 

equipment for a successful venue.</p> 

<p>The family continues to be involved in the local Phoenix Restaurant Scene.  <a href="https://mysliceofthepiepizzeria.com">My Slice of the Pie Pizzeria</a> is owned
  by the Solorio family and was awarded the best pizza in Arizona by Yelp in 2023. </p>

<p>EEL knows the industry and would like to support restaurateurs in supplying the foundation

of your commercial kitchen at affordable price with used restaurant equipment to make your 

restaurant or commercial operation a success with great savings. </p>