<!-- Footer Section Starts -->
    <footer id="footer-area">
    <!-- Footer Links Starts -->
      <div class="footer-links row">
      <!-- Information Links Starts -->
        <div class="col-md-2 col-sm-6">
          <h5>Information</h5>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
      <!-- Information Links Ends -->
      <!-- My Account Links Starts -->
        <div class="col-md-2 col-sm-6">
          <h5>My Account</h5>
          <ul>
            <% if signed_in? %>
              <li><a href="/account">My orders</a></li>
              <li><a href="/user/spree_user/logout">Logout</a></li>
            <% else %>
              <li><a href="/user/spree_user/sign_up">Sign Up</a></li>
              <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div>
      <!-- My Account Links Ends -->          
      <!-- Customer Service Links Starts -->
        <div class="col-md-2 col-sm-6">
          <h5>Service</h5>
          <ul>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Specials</a></li>
          </ul>
        </div>
      <!-- Customer Service Links Ends -->
      <!-- Follow Us Links Starts -->
        <div class="col-md-2 col-sm-6">
        </div>
      <!-- Follow Us Links Ends -->
      <!-- Contact Us Starts -->
        <div class="col-md-4 col-sm-12 last"  itemscope itemtype="http://schema.org/LocalBusiness">
          <h5>Contact Us</h5>
          <ul>
            <li itemprop="name">EEL Used Restaurant Equipment</li>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <li itemprop="streetAddress">
                2925 W Whitton Ave</br> <span itemprop="addressLocality">Phoenix</span>, <span itemprop="addressRegion">AZ</span><span itemprop="postalCode"> 85019</span>
              </li>
              <li>
                Email: <a href="#" itemprop="email">sales@eelphoenixaz.com</a>
              </li>               
            </ul>
            <h4 class="lead">
              Tel: <span itemprop="telephone">(480) 448-2875</span>
            </h4>
            </div>
        </div>
      <!-- Contact Us Ends -->
      </div>
    <!-- Footer Links Ends -->
    </footer>
  <!-- Footer Section Ends -->
</div>
<!-- Copyright Area Starts -->
  <div class="copyright container">
    <div class="clearfix">
    <!-- Starts -->
      <p class="pull-left">
        &copy; 2014 EEL - Used Restaurant Equipment.
      </p>
    <!-- Ends -->
    <!-- Payment Gateway Links Starts -->
      <ul class="pull-right list-inline">
    
        <li>
          <img src="/images/payment-icon/paypal.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="/images/payment-icon/visa.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="/images/payment-icon/mastercard.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="/images/payment-icon/americanexpress.png" alt="PaymentGateway" />
        </li>
      </ul>
    <!-- Payment Gateway Links Ends -->
    </div>
  </div>
<!-- Copyright Area Ends -->
</div>