<!-- Footer Section Starts -->
    <footer id="footer-area">
    <!-- Footer Links Starts -->
      <div class="footer-links row">
      <!-- Information Links Starts -->
        <div class="col-md-2 col-sm-6">
          <h5>Information</h5>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
          </ul>
        </div>
      <!-- Information Links Ends -->
      <!-- My Account Links Starts -->
        <div class="col-md-2 col-sm-6">
          <h5>My Account</h5>
          <ul>
            <% if signed_in? %>
              <li><a href="/account">My orders</a></li>
              <li><a href="/user/spree_user/logout">Logout</a></li>
            <% else %>
              <li><a href="/user/spree_user/sign_up">Sign Up</a></li>
              <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div>
      <!-- My Account Links Ends -->          
      <!-- Customer Service Links Starts -->
        <div class="col-md-2 col-sm-6">
          <h5>Service</h5>
          <ul>
            <li><a href="contact.html">Contact Us</a></li> 

          </ul>
        </div>
      <!-- Customer Service Links Ends -->
      <!-- Follow Us Links Starts -->
        <div class="col-md-2 col-sm-6">
        </div>
      <!-- Follow Us Links Ends -->
      <!-- Contact Us Starts -->
        <div class="col-md-4 col-sm-12 last">
          <h5>Contact Us</h5>
          <ul>
            <li >EEL Used Restaurant Equipment</li>
            <div >
              <li>
                2925 W Whitton Ave</br> <span >Phoenix</span>, <span>AZ</span><span> 85017</span>
              </li>
              <li>
                Email: <a href="#" >sales@eelphoenixaz.com</a>
              </li>               
            </ul>
            <h4 class="lead">
              Tel: <span>(480) 448-2875</span></h4>
            
            <span class="bbb" style="float:left;">
              <a target="_blank" title="EEL Economic Restaurant Equipment BBB Business Review" href="http://www.bbb.org/phoenix/business-reviews/restaurant-equipment-and-supplies/eel-economic-restaurant-equipment-in-phoenix-az-1000037687/#bbbonlineclick" rel="nofollow"><img alt="EEL Economic Restaurant Equipment BBB Business Review" style="border: 0;" src="http://seal-central-northern-western-arizona.bbb.org/seals/blue-seal-96-50-eel-economic-restaurant-equipment-1000037687.png" rel="nofollow" /></a>
            <span>
            </div>
        </div>
      <!-- Contact Us Ends -->
      </div>
    <!-- Footer Links Ends -->
    </footer>
  <!-- Footer Section Ends -->
</div>
<!-- Copyright Area Starts -->
  <div class="copyright container">
    <div class="clearfix">
    <!-- Starts -->
      <p class="pull-left">
        &copy; 2014 EEL - Used Restaurant Equipment.
      </p>
    <!-- Ends -->
    <!-- Payment Gateway Links Starts -->
      <ul class="pull-right list-inline">
        <li>

        </li>
        <li>
          <img src="/images/payment-icon/paypal.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="/images/payment-icon/visa.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="/images/payment-icon/mastercard.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="/images/payment-icon/americanexpress.png" alt="PaymentGateway" />
        </li>
      </ul>
    <!-- Payment Gateway Links Ends -->
    </div>
  </div>
<!-- Copyright Area Ends -->
</div>