<!-- Wrapper Starts -->
	<div id="wrapper" class="container">
<!-- Header Section Starts -->
		<header id="header-area">
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Logo Starts -->
				<div class="col-md-4 col-xs-12">
					<div id="logo">
						<a href="/"><img src="https://s3-us-west-1.amazonaws.com/restaurant-yard/eel_logo.jpg" title="Used Restaurant Equipment" alt="Used Restaurant Equipment" class="img-responsive" style="width: 200px"/></a>
					</div>
				</div>
			<!-- Logo Ends -->
			<!-- Header Right Starts -->
				<div class="col-md-8 col-xs-12">
					<div class="row header-top">
					<!-- Header Links Starts -->
						<div class="col-md-9 col-xs-12">
							<div class="header-links">
								<ul class="list-unstyled list-inline pull-left">
									<li><a href="/">Home</a></li>
									<% if signed_in? %>
									<li><a href="/account">My Account</a></li>
									<% else %>
									<li><a href="/signup">Register</a></li>
									<li><a href="/login">Login</a></li>
									<% end %>
									<li>480-448-2875</li>
								</ul>
                <br/>
							</div>
						</div>
					<!-- Header Links Ends -->
					<!-- Currency & Languages Starts -->
						<div class="col-md-3 col-xs-12">
              <a class="btn btn-danger btn-sm" href="/subscribers/new">Subscribe To New Products</a>
              <h4><a target="_blank" href=" https://economicequipmentlocator.directcapital.com/">Get Financing!</a></h4>
              <p><a target="_blank" href="https://s3-us-west-2.amazonaws.com/orgops-test/Q3+Promotions.pdf">Details</a></p>
						</div>
					<!-- Currency & Languages Ends -->
				</div>
				<!-- Search Starts -->					
				<div class="row">
					<div class="col-md-7 col-xs-12">
						<%= render :partial => 'spree/shared/search'%>	
					</div>	
				</div>
				<div class="row">
					<!-- Search Ends -->						

					</div>
				</div>
			<!-- Header Right Ends -->				
			</div>
		<!-- Nested Row Ends -->
		</header>
	<!-- Header Section Ends -->
		<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
		<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
		<!-- Nav Header Ends -->
		<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Cooking Equipment</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <li class="dropdown-header">Cooking Equipment</li>
                  <li><a tabindex="-1" href="/t/ovens">Commercial Ovens</a></li>
                  <li><a tabindex="-1" href="/t/range">Ranges</a></li>
                  <li><a tabindex="-1" href="/t/fryer">Fryer</a></li>
                  <li><a tabindex="-1" href="/t/griddles">Griddles</a></li>
                  <li><a tabindex="-1" href="/t/steam-cooking-equipment">Steam Cooking</a></li>
                  <li><a tabindex="-1" href="/t/wok">Wok</a></li>
                  <li><a tabindex="-1" href="/t/pasta-maker">Pasta Maker</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Refrigeration Equipment</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <li class="dropdown-header">Refrigeration Equipment</li>
                  <li><a tabindex="-1" href="/t/glass-door-refrigerator">Glass Door Refrigeration</a></li>
                  <li><a tabindex="-1" href="/t/undercounter-refrigeration">Under Counter</a></li>
                  <li><a tabindex="-1" href="/t/merchandising-refrigeration">Merchandising Refrigeration</a></li>
                  <li><a tabindex="-1" href="/t/freezer">Freezers</a></li>
                  <li><a href="/t/refrigeration">Refrigeration</a></li>
                  <li><a href="/t/ice-machine">Ice Machines</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Bakery Equipment</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <li class="dropdown-header">Bakery Equipment</li>
                  <li><a tabindex="-1" href="/t/bakery-equipment">Bakery Equipment</a></li>
                  <li><a tabindex="-1" href="/t/mixer">Mixer</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Bar Equipment</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <li class="dropdown-header">Bar Equipment</li>
                  <li><a tabindex="-1" href="/t/bar-equipment">Bar Equipment</a></li>
                  <li><a tabindex="-1" href="/t/ice-bin">Ice Bin</a></li>
                  <li><a tabindex="-1" href="/t/jockey-box">Jockey Box</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Food Holding Equipment</a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <li class="dropdown-header">Food Holding & Warming Equipment</li>
                  <li><a tabindex="-1" href="/t/food-holding-and-warming-equipment">Food Warming</a></li>
                  <li><a tabindex="-1" href="/t/toasters">Toasters</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Restaurant Equipment</a>
						<div class="dropdown-menu">
							<div class="dropdown-inner">
								<ul class="list-unstyled">
									<li class="dropdown-header">Sinks</li>
                  <%Spree::Taxon.where('permalink ILIKE ?', '%sink%').each do |sink| %>
                    <li><a tabindex="-1" href="/t/<%= sink.permalink %>"><%= sink.name %></a></li>
                  <% end %>
								</ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Beverage & Coffee Supplies</li>
									<li><a tabindex="-1" href="/t/coffee-maker-and-grinder">Coffee</a></li>
								</ul>
                <ul class="list-unstyled">
                  <li class="dropdown-header">Work Table</li>
                  <li><a tabindex="-1" href="/t/work-table">Work Table</a></li>
                  <li><a tabindex="-1" href="/t/prep-table">Prep Table</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li class="dropdown-header">Food Processors</li>
                  <li><a tabindex="-1" href="/t/commercial-food-processor">Commercial Food Processor</a></li>
                </ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Miscellaneous</li>
									<li><a tabindex="-1" href="/t/smallwares">Smallwares</a></li>
                  <li><a tabindex="-1" href="/t/tables">Tables</a></li>
                  <li><a tabindex="-1" href="/t/chairs">Chairs</a></li>
                  <li><a tabindex="-1" href="/t/popcorn-machines">Popcorn Machines</a></li>
                  <li><a tabindex="-1" href="/t/exhaust-fan">Exhaust Fans</a></li>
                  <li><a tabindex="-1" href="/t/lamps">Lamps</a></li>
                  <li><a tabindex="-1" href="/t/meat-grinder">Meat Grinder</a></li>
								</ul>
							</div>
						</div>
					</li>
          <li><a href="/t/walk-in">Walk In</a></li>
					<li><a href="/t/dish-washer">Dish Washer</a></li>
					<li><a href="/t/hoods">Hoods</a></li>
					<li><a href="/t/food-preparation">Food Preparation</a></li>
					<li><a href="/t/display-cases">Display Cases</a></li>
					<li><a href="/t/on-sale">On Sale</a></li>
                    
				</ul>
			</div>
		<!-- Navbar Cat collapse Ends -->
		</nav>
	<!-- Main Menu Ends -->
    </div>
