<!-- Wrapper Starts -->
	<div id="wrapper" class="container">
<!-- Header Section Starts -->
		<header id="header-area">
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Logo Starts -->
				<div class="col-md-4 col-xs-12">
					<div id="logo">
						<a href="/"><img src="/images/logo.png" title="Grocery Shoppe" alt="Grocery Shoppe" class="img-responsive" /></a>
					</div>
				</div>
			<!-- Logo Ends -->
			<!-- Header Right Starts -->
				<div class="col-md-8 col-xs-12">
					<div class="row header-top">
					<!-- Header Links Starts -->
						<div class="col-md-9 col-xs-12">
							<div class="header-links">
								<ul class="list-unstyled list-inline pull-left">
									<li><a href="/">Home</a></li>
									<% if signed_in? %>
									<li><a href="#">My Account</a></li>
									<% else %>
									<li><a href="/signup">Register</a></li>
									<li><a href="/login">Login</a></li>
									<% end %>
									<li><a href="/cart">Shopping Cart</a></li>
									<li><a href="#">Checkout</a></li>
									
								</ul>
							</div>
						</div>
					<!-- Header Links Ends -->
					<!-- Currency & Languages Starts -->
						<div class="col-md-3 col-xs-12">
							<div class="pull-right">							
							<!-- Languages Starts -->
								<div class="btn-group">
									<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
										ENG
										<i class="fa fa-caret-down"></i>
									</button>
									<ul class="pull-right dropdown-menu">
										<li>
											<a tabindex="-1" href="#">English</a>
										</li>
										<li>
											<a tabindex="-1" href="#">French</a>
										</li>
									</ul>
								</div>
							<!-- Languages Ends -->
						
							</div>
						</div>
					<!-- Currency & Languages Ends -->
				</div>
				<div class="row">
					<!-- Search Starts -->					
						<div class="col-md-7 col-xs-12">
							<%= render :partial => 'spree/shared/search'%>	
						</div>
					<!-- Search Ends -->						
					<!-- Shopping Cart Starts -->					
						<ul class="nav navbar-nav navbar-right" data-hook>
						      <li id="link-to-cart" data-hook>
						        <noscript>
						          <%= link_to Spree.t(:cart), '/cart' %>
						        </noscript>
						        &nbsp;
						      </li>
						      <script>Spree.fetch_cart()</script>
						 </ul>
					<!-- Shopping Cart Starts -->					
						
					</div>
				</div>
			<!-- Header Right Ends -->				
			</div>
		<!-- Nested Row Ends -->
		</header>
	<!-- Header Section Ends -->
		<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
		<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
		<!-- Nav Header Ends -->
		<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav">
					<li><a href="category-list.html">Asian Food</a></li>
					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							Bread &amp; Bakery
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">Brown Bread</a></li>
							<li><a tabindex="-1" href="#">Milk Break</a></li>
							<li><a tabindex="-1" href="#">Spl Bread</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Drinks</a>
						<div class="dropdown-menu">
							<div class="dropdown-inner">
								<ul class="list-unstyled">
									<li class="dropdown-header">Sub Category</li>
									<li><a tabindex="-1" href="#">item 1</a></li>
									<li><a tabindex="-1" href="#">item 2</a></li>
									<li><a tabindex="-1" href="#">item 3</a></li>
								</ul>										
								<ul class="list-unstyled">
									<li class="dropdown-header">Sub Category</li>
									<li><a tabindex="-1" href="#">item 1</a></li>
									<li><a tabindex="-1" href="#">item 2</a></li>
									<li><a tabindex="-1" href="#">item 3</a></li>
								</ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Sub Category</li>
									<li><a tabindex="-1" href="#">item 1</a></li>
									<li><a tabindex="-1" href="#">item 2</a></li>
									<li><a tabindex="-1" href="#">item 3</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="category-list.html">Fresh Meats</a></li>
					<li><a href="category-list.html">Fresh Fish</a></li>
					<li><a href="category-list.html">Fruits</a></li>
					<li><a href="category-list.html">Vegetables</a></li>
                    <li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							Pages
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="index.html">Home</a></li>
                            <li><a tabindex="-1" href="about.html">About</a></li>
							<li><a tabindex="-1" href="category-list.html">Category List</a></li>
							<li><a tabindex="-1" href="category-grid.html">Category Grid</a></li>
							<li><a tabindex="-1" href="product.html">Product</a></li>
							<li><a tabindex="-1" href="product-full.html">Product Full Width</a></li>
                            <li><a tabindex="-1" href="cart.html">Cart</a></li>
                            <li><a tabindex="-1" href="login.html">Login</a></li>
                            <li><a tabindex="-1" href="compare.html">Compare Products</a></li>
							<li><a tabindex="-1" href="typography.html">Typography</a></li>
							<li><a tabindex="-1" href="register.html">Register</a></li>
                            <li><a tabindex="-1" href="contact.html">Contact</a></li>
							<li><a tabindex="-1" href="404.html">404</a></li>
						</ul>
					</li>

				</ul>
			</div>
		<!-- Navbar Cat collapse Ends -->
		</nav>
	<!-- Main Menu Ends -->