<!-- Wrapper Starts -->
	<div id="wrapper" class="container">
<!-- Header Section Starts -->
		<header id="header-area">
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Logo Starts -->
				<div class="col-md-4 col-xs-12">
					<div id="logo">
						<a href="/"><img src="/images/used-restaurant-equipment.png" title="Used Restaurant Equipment" alt="Used Restaurant Equipment" class="img-responsive" style="width: 100px"/></a>
					</div>
				</div>
			<!-- Logo Ends -->
			<!-- Header Right Starts -->
				<div class="col-md-8 col-xs-12">
					<div class="row header-top">
					<!-- Header Links Starts -->
						<div class="col-md-9 col-xs-12">
							<div class="header-links">
								<ul class="list-unstyled list-inline pull-left">
									<li><a href="/">Home</a></li>
									<% if signed_in? %>
									<li><a href="/account">My Account</a></li>
									<% else %>
									<li><a href="/signup">Register</a></li>
									<li><a href="/login">Login</a></li>
									<% end %>
									<li><a href="/cart">Shopping Cart</a></li>
									<li>480-448-2875</li>

								</ul>
							</div>
						</div>
					<!-- Header Links Ends -->
					<!-- Currency & Languages Starts -->
						<div class="col-md-3 col-xs-12">
								
						</div>
					<!-- Currency & Languages Ends -->
				</div>
				<!-- Search Starts -->					
				<div class="row">
					<div class="col-md-7 col-xs-12">
						<%= render :partial => 'spree/shared/search'%>	
					</div>	
				</div>
				<div class="row">
					<!-- Search Ends -->						
					<!-- Shopping Cart Starts -->
					<div>					
						<ul class="nav navbar-nav navbar-right" data-hook>
						      <li id="link-to-cart" data-hook>
						        <noscript>
						          <%= link_to Spree.t(:cart), '/cart' %>
						        </noscript>
						        &nbsp;
						      </li>
						      <script>Spree.fetch_cart()</script>
						 </ul>
					</div>	 
					<!-- Shopping Cart Starts -->					
						
					</div>
				</div>
			<!-- Header Right Ends -->				
			</div>
		<!-- Nested Row Ends -->
		</header>
	<!-- Header Section Ends -->
		<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
		<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
		<!-- Nav Header Ends -->
		<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Restaurant Equipment</a>
						<div class="dropdown-menu">
							<div class="dropdown-inner">
								<ul class="list-unstyled">
									<li class="dropdown-header">Cooking Equipment</li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/commercial-ovens">Commercial Ovens</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/flat-range-with-ovens">Flat-Range with Ovens</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/broiler">Broiler</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/stove">Stove</li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/flat-griddle">Flat Griddle</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/fryer">Fryer</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/salamander">Salamander</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/countertop">Countertop</a></li>
									<li><a tabindex="-1" href="/t/category/cooking-equipment/tilted-skillet">Tilted Skillet</a></li>

								</ul>										
								<ul class="list-unstyled">
									<li class="dropdown-header">Refrigeration Equipment</li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/bakery-display-case">Bakery & Display Case</a></li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/bar-refrigeration">Bar Refrigeration</a></li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/merchandiser">Merchandiser</a></li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/prep-refrigeration">Prep Refrigeration</a></li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/salad-bar">Salad Bar</a></li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/stainless-steel-refrigerator">Stainless Steel Refrigerator</a></li>
									<li><a tabindex="-1" href="/t/category/refrigeration-equipment/undercounter-worktop-refrigeration">Undercounter / Work Top Refrigeration</a></li>
								</ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Sinks</li>
									<li><a tabindex="-1" href="/t/category/sink/1-compartment">One Compartment</a></li>
									<li><a tabindex="-1" href="/t/category/sink/2-compartment">Two Compartment</a></li>
									<li><a tabindex="-1" href="/t/category/sink/3-compartment">Three Compartment</a></li>
									<li><a tabindex="-1" href="/t/category/sink/bar-sink">Bar Sink</a></li>
									<li><a tabindex="-1" href="/t/category/sink/vegetable-sink">Vegetable Sink</a></li>
									<li><a tabindex="-1" href="/t/category/sink/hand-sink">Hand Sink</a></li>
								</ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Warming Equipment</li>
									<li><a tabindex="-1" href="/t/category/warming-equipment/steam-table">Steam Table</a></li>

									<li><a tabindex="-1" href="/t/category/warming-equipment/holding-proofing-cabinets">holding proofing cabinets</a></li>
									<li><a tabindex="-1" href="/t/category/warming-equipment/counter-top-warmer">Counter Top Warmer</a></li>
									<li><a tabindex="-1" href="/t/category/warming-equipment/heating-lamp">Heating Lamp</a></li>
									<li><a tabindex="-1" href="/t/category/warming-equipment/other-food-warmers">Other Food Warmers</a></li>
								</ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Beverage & Coffee Supplies</li>
									<li><a tabindex="-1" href="/t/category/beverage-coffee-supplies/coffee-supplies">Coffee Supplies</a></li>

									<li><a tabindex="-1" href="/t/category/beverage-coffee-supplies/beverage-dispenser">Beverage Dispenser</a></li>

									<li><a tabindex="-1" href="/t/category/beverage-coffee-supplies/soda-machine">Soda Machine</a></li>

								</ul>
								<ul class="list-unstyled">
									<li class="dropdown-header">Miscellaneous</li>
									<li><a tabindex="-1" href="/t/category/miscellaneous/bar-equipment">Bar Equipment</a></li>

									<li><a tabindex="-1" href="/t/category/miscellaneous/smallwares">Smallwares</a></li>

									<li><a tabindex="-1" href="/t/category/miscellaneous/bakery">Bakery</a></li>
									<li><a tabindex="-1" href="/t/category/miscellaneous/dining">Dining</a></li>
									<li><a tabindex="-1" href="/t/category/miscellaneous/other">Other</a></li>
								</ul>
																<ul class="list-unstyled">
									<li class="dropdown-header">Storage</li>
									<li><a tabindex="-1" href="/t/category/storage/file-cabinets">File Cabinets</a></li>
									<li><a tabindex="-1" href="/t/category/storage/locker">locker</a></li>
									<li><a tabindex="-1" href="/t/category/storage/pallet-racking">Pallet Racking</a></li>
									<li><a tabindex="-1" href="/t/category/storage/rack">Rack</a></li>

								</ul>

							</div>
						</div>
					</li>
					<li><a href="/t/category/refrigeration-equipment">Walk-In Refrigeration</a></li>
					<li><a href="/t/ice-machine">Ice Machines</a></li>
					<li><a href="/t/category/dish-washer">Dish Washer</a></li>
					<li><a href="/t/hoods">Hoods</a></li>
					<li><a href="/t/category/food-preparation">Food Preparation</a></li>
					<li><a href="/t/freezer">Freezer</a></li>
					<li><a href="/t/dry-display-case">Dry Display Case</a></li>
					<li><a href="/t/work-table">Work Table</a></li>
					<li><a href="/t/on-sale">On Sale</a></li>
                    
				</ul>
			</div>
		<!-- Navbar Cat collapse Ends -->
		</nav>
	<!-- Main Menu Ends -->
    </div>